.open-snas-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdith" 100;
}

/* Header-Style */
.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}

/* Nav var style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

.nav-title {
    font-weight: 880px;
    font-size: 45px;
}

Banner Style
.banner-content {
    max-width: 585px;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}

.banner-grettings {
    font-size: 45px;
    font-weight: 600px;
}

.banner-title {
    font-weight: bold;
    font-size: 85px;
}

.banner-profile {
    width: 580px;
}

.banner-description {
    font-size: 18px;
}

/* color-style */
.common-color {
    color: #FD6E0A;
}

.cmn-color-2 {
    color: #757575;
}

.cmn-color-3 {
    background-color: #FFF8F3;
}

/* Button-Style */
.btn-primary {
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.btn-secondary {
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    color: #FD6E0A;
    padding: 18px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
}

/* Main-Style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* About-Style */
.about-items {
    display: flex;
    justify-content: space-around;

}

.about {
    border-radius: 10px;
    text-align: center;
    padding: 130px 150px;

}

.item-description {
    font-weight: bold;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

/* Skils-Style */
.skils-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.text-center {
    text-align: center;
}

.heading-center {
    text-align: center;
}

/* Resume-Style */
.resume-container {
    display: flex;
    gap: 24px;
}

.experience-sub-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.experience-description,
.experience-sub-title {
    color: #757575;
}

.resume-download-cv {
    margin-top: 50px;
    text-align: center;
}

/* Footer-Style */
footer {
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.footer-coloumn {
    width: 50%;
}

footer input[type="text"],
footer input[type="email"],
footer textarea {
    height: 40pxpx;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}